<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<!-- Toolbar -->
<div class="root">
  <p>This is app component</p>
  
      <h3>Rendering User form</h3>
  
      <user-form [parentData]="data" (clickEvent)="handleUserFormClickEvent($event)"></user-form> 
  
      <p [class]="pclass" [style.color]="pcolor">{{message}}</p>

      <h3>Rendering post list</h3>
      <list-post></list-post>
  </div>